POSTGRES_DB=replace_me_local_only_postgres_db
POSTGRES_USER=replace_me_local_only_postgres_user
POSTGRES_PASSWORD=replace_me_local_only_postgres_password
MINIO_ROOT_USER=replace_me_local_only_minio_user
MINIO_ROOT_PASSWORD=replace_me_local_only_minio_password
